input[type="text"] {
  width: 70%;
  padding: 12px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-row {
    width:50%;
    margin:10px;
    /* background-color: aqua; */
}

@media screen and (max-width: 600px) {
    input[type="text"] {
      width: 100%;
      margin-top: 0;
    }
  }